﻿@using System.Reflection
@using Microsoft.AspNet.Identity
@{
    var assembly = Assembly.GetAssembly(typeof(gzWeb.Admin.Startup));
    var assemblyName = assembly.GetName().Name;
    var gitVersionInformationType = assembly.GetType(assemblyName + ".GitVersionInformation");
    var versionField = gitVersionInformationType != null ? gitVersionInformationType.GetField("InformationalVersion").GetValue(null) : "DEBUG!!!";
}

<div class="admin-header" ng-controller="headerCtrl">
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-section" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar icon-top-bar"></span>
                    <span class="icon-bar icon-middle-bar"></span>
                    <span class="icon-bar icon-bottom-bar"></span>
                </button>
                <a id="logo" class="navbar-brand" href="@Url.Action("Index", "Home")" title="@versionField">
                    <img src="@Url.Content("~/Content/images/logo.svg")" alt="greenzorro" />
                    <h2 class="relative">
                        greenzorro
                        <span class="version">admin</span>
                    </h2>
                    @*<span class="version mobile">admin</span>*@
                </a>
            </div>
            <div id="menu-section" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right cl-effect">
                    <li><a href="@Url.Action("Users", "Manage")">Users</a></li>
                    <li><a href="@Url.Action("Roles", "Manage")">Roles</a></li>
                    <li><a href="@Url.Action("Index", "EmailTemplates")">Emails</a></li>
                    <li><a href="@Url.Action("Index", "Logs")">Logs</a></li>
                    <li><a href="@Url.Action("Index", "Storage")">Storage</a></li>
                    <li><a href="@Url.Action("Templates", "DynamicPages")">Templates</a></li>
                    <li><a href="@Url.Action("Index", "DynamicPages")">Pages</a></li>
                    <li><a href="@Url.Action("Index", "CarouselEntries")">Carousel</a></li>
                    <li><a href="@Url.Action("Index", "GameCategory")">Game Categories</a></li>
                </ul>
            </div>



            @*<div class="row">
                <div class="navbar-header col-xs-4">
                    <a id="logo" class="navbar-brand" href="@Url.Action("Index", "Home")" title="@versionField">
                        <img src="@Url.Content("~/Content/images/logo.svg")" alt="greenzorro"/>
                        <h2 class="relative">
                            greenzorro
                            <span class="version">admin</span>
                        </h2>
                        <span class="version mobile">admin</span>
                    </a>
                </div>

                <div class="navigation-menu pull-right">
                    <ul class="cl-effect">
                        <li><a href="@Url.Action("Users", "Manage")">Users</a></li>
                        <li><a href="@Url.Action("Roles", "Manage")">Roles</a></li>
                        <li><a href="@Url.Action("Index", "EmailTemplates")">Emails</a></li>
                        <li><a href="@Url.Action("Index", "Logs")">Logs</a></li>
                        <li><a href="@Url.Action("Index", "Storage")">Storage</a></li>
                        <li><a href="@Url.Action("Templates", "DynamicPages")">Templates</a></li>
                        <li><a href="@Url.Action("Index", "DynamicPages")">Pages</a></li>
                        <li><a href="@Url.Action("Index", "CarouselEntries")">Carousel</a></li>
                        <li><a href="@Url.Action("Index", "GameCategory")">Game Categories</a></li>
                    </ul>
                </div>

                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Home", FormMethod.Post, new { id = "logoutForm", @class = "pull-right" }))
                    {
                        @Html.AntiForgeryToken()
                        <span class="user-info">
                            <span class="user-avatar dropdown-toggle" id="user-dropdown" data-toggle="dropdown">
                                <span class="user-initials img-circle">
                                    <span class="user-initials-text">IN</span>
                                </span>
                            </span>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><h5>@User.Identity.GetUserName()</h5></li>
                                <li role="separator" class="divider"></li>
                                <li><a class="text-center" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                            </ul>
                        </span>
                    }
                }


                <div class="dropdown mobile-menu">
                    <button class="navbar-toggle collapsed" type="button" data-toggle="dropdown">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar icon-top-bar"></span>
                        <span class="icon-bar icon-middle-bar"></span>
                        <span class="icon-bar icon-bottom-bar"></span>
                    </button>
                    <ul class="dropdown-menu cl-effect">
                        <li><a href="@Url.Action("Users", "Manage")">Users</a></li>
                        <li><a href="@Url.Action("Roles", "Manage")">Roles</a></li>
                        <li><a href="@Url.Action("Index", "EmailTemplates")">Emails</a></li>
                        <li><a href="@Url.Action("Index", "Logs")">Logs</a></li>
                        <li><a href="@Url.Action("Index", "DynamicPages")">Dynamic Pages</a></li>
                    </ul>
                </div>


            </div>*@
        </div>
    </nav>
</div>

