﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/css/bootstrap")
    @Styles.Render("~/css/fa")
    @*@Styles.Render("~/css/modules")*@
    @Styles.Render("~/css/app")
    
</head>
<body>
    @Html.Partial("_Header")

    @RenderBody()

    @Scripts.Render("~/js/jquery")
    @Scripts.Render("~/js/bootstrap")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-animate.min.js" type="text/javascript"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="~/Scripts/angular-file-upload/ng-file-upload-all.min.js"></script>
    @RenderSection("scripts", false)
</body>
</html>
