﻿@model gzDAL.Models.CarouselEntry

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CarouselEntry</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsMobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsMobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActionText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActionText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActionUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActionUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActionType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActionType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BackgroundImageUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BackgroundImageUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Live)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Live)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LiveFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LiveFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LiveTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LiveTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
