﻿@model gzDAL.Models.CarouselEntry

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="admin admin-details admin-actions">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 details-interface">

                <div class="col-md-12 text-center">
                    <div class="row heading">
                        <h2 class="text-gz">Carousel</h2>
                        <h4>Details</h4>
                    </div>
                </div>

                <div class="col-md-12 bg-gz">
                    <div class="row content">
                        <div class="col-xs-8 col-xs-offset-2">
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Id)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Id)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Code)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Code)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.IsMobile)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.IsMobile)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Title)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Title)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.SubTitle)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.SubTitle)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.ActionType)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.ActionType)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.ActionText)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.ActionText)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.ActionUrl)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.ActionUrl)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.BackgroundImageUrl)
                                </dt>

                                <dd style="width:100px; max-width:100px; min-width:100px;">
                                    @Html.DisplayFor(model => model.BackgroundImageUrl)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Live)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Live)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.LiveFrom)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.LiveFrom)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.LiveTo)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.LiveTo)
                                </dd>
                            </dl>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                @Html.ActionLink("Edit", "Edit", new {id = Model.Id}) |
                                @Html.ActionLink("Delete", "Delete", new { id = Model.Id }) |
                                @Html.ActionLink("Back to List", "Index")
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>