﻿@using System.Drawing.Imaging
@using gzWeb.Admin.Controllers
@using gzDAL.Models
@model gzDAL.Models.CarouselEntry

@{
    ViewBag.Title = "Carousel Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="admin admin-edit carousel-entries-edit">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 admin-interface">

                <div class="col-md-6 @*text-center*@">
                    <div class="row heading">
                        <h2 class="text-gz">Carousel</h2>
                        <h4>Edit</h4>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row heading text-right">
                        @Html.ActionLink("Delete", "Delete", new { id = Model.Id }) |
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                </div>

                <div class="col-md-12 bg-gz">
                    <div class="row content">
                        @using (Html.BeginForm("Edit", "CarouselEntries", FormMethod.Post, new {enctype = "multipart/form-data"}))
                        {
                            @*<input type="hidden" name="jsonData" value="@ViewBag.JsonData"/>*@

                            @Html.AntiForgeryToken()

                            <div class="col-xs-8 col-xs-offset-2">
                                @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                                @Html.HiddenFor(model => model.Id)

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Code, htmlAttributes: new {@class = "control-label"})
                                    @Html.EditorFor(model => model.Code, new {htmlAttributes = new {@class = "form-control"}})
                                    @Html.ValidationMessageFor(model => model.Code, "", new {@class = "text-danger"})
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.IsMobile, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.IsMobile, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.IsMobile, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Title, htmlAttributes: new {@class = "control-label"})
                                    @Html.EditorFor(model => model.Title, new {htmlAttributes = new {@class = "form-control"}})
                                    @Html.ValidationMessageFor(model => model.Title, "", new {@class = "text-danger"})
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.SubTitle, htmlAttributes: new {@class = "control-label"})
                                    @Html.EditorFor(model => model.SubTitle, new {htmlAttributes = new {@class = "form-control"}})
                                    @Html.ValidationMessageFor(model => model.SubTitle, "", new {@class = "text-danger"})
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.ActionType, htmlAttributes: new {@class = "control-label"})
                                    @Html.DropDownListFor(model => model.ActionType,
                                                          new[]
                                                          {
                                                                  new SelectListItem {Value = ((int) CarouselActionType.Url).ToString(), Text = CarouselActionType.Url.ToString()},
                                                                  new SelectListItem {Value = ((int) CarouselActionType.Game).ToString(), Text = CarouselActionType.Game.ToString()}
                                                          },
                                                          new {@class = "form-control"})
                                    @Html.ValidationMessageFor(model => model.ActionType, "", new {@class = "text-danger"})
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.ActionText, htmlAttributes: new {@class = "control-label"})
                                    @Html.EditorFor(model => model.ActionText, new {htmlAttributes = new {@class = "form-control"}})
                                    @Html.ValidationMessageFor(model => model.ActionText, "", new {@class = "text-danger"})
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.ActionUrl, htmlAttributes: new {@class = "control-label"})
                                    @Html.EditorFor(model => model.ActionUrl, new {htmlAttributes = new {@class = "form-control"}})
                                    @Html.ValidationMessageFor(model => model.ActionUrl, "", new {@class = "text-danger"})
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.BackgroundImageUrl, htmlAttributes: new { @class = "control-label" })
                                    <div class="input-group">
                                        <input type="hidden" name="BackgroundImageUrl" id="BackgroundImageUrl" value="@Model.BackgroundImageUrl" />
                                        <input type="text" name="fakeBackgroundImageUrl" id="fakeBackgroundImageUrl" value="@Model.BackgroundImageUrl" class="form-control" disabled="disabled" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default btn-block" style="height: 48px;" data-toggle="modal" data-target="#browseMediaModal">Browse</button>
                                        </span>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.BackgroundImageUrl, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-inline">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Live, htmlAttributes: new {@class = "control-label"})
                                        @Html.EditorFor(model => model.Live, new {htmlAttributes = new {@class = "form-control"}})
                                        @Html.ValidationMessageFor(model => model.Live, "", new {@class = "text-danger"})
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group input-daterange">
                                            <span class="input-group-addon">from</span>
                                            <input type="text" id="LiveFrom" name="LiveFrom" value="@Model.LiveFrom.ToString("yyyy-MM-dd HH:mm")" class="form-control"/>
                                            <span class="input-group-addon">to</span>
                                            <input type="text" id="LiveTo" name="LiveTo" value="@Model.LiveTo.ToString("yyyy-MM-dd HH:mm")" class="form-control"/>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.LiveFrom, "", new {@class = "text-danger"})
                                        @Html.ValidationMessageFor(model => model.LiveTo, "", new {@class = "text-danger"})
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-10 col-xs-offset-1">
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-offset-3 col-md-6">
                                            <input type="submit" value="Update" class="btn btn-default col-xs-12"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="browseMediaModal" tabindex="-1" role="dialog" aria-labelledby="browseMediaModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="browseMediaModalLabel">Select an image</h4>
            </div>
            <div class="modal-body">
                <div id="blob-items">
                </div>

                <div class="row text-center">
                    <nav aria-label="Blob images navigation">
                        <ul id="blob-pages" class="pagination">
                            <li class="blob-page-previous">
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="blob-page-next">
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{

    <script id="blob-item-template" type="text/x-blob-template">
        <div class="col-xs-4 text-center">
            <img class="blob-img img-responsive img-thumbnail" />
            <div class="blob-name full-width"></div>
        </div>
    </script>
    <script id="blob-page-template" type="text/x-blob-template">
        <li class="blob-page"><a></a></li>
    </script>

    <script type="text/javascript">
        $(function () {

            $('#LiveFrom').datetimepicker({
                format: "yyyy-mm-dd hh:ii",
                autoclose: true,
                todayBtn: true
            });
            $('#LiveTo').datetimepicker({
                format: "yyyy-mm-dd hh:ii",
                autoclose: true,
                todayBtn: true
            });

            var currentPage = undefined;
            var data = [];
            function fetchBlobs(page) {
                $.post('/Storage/FetchBlobs', { page: page }, function (data) {
                    $('#blob-items').empty();
                    data = data;
                    for (var i = 0; i < data.Blobs.length; i++) {
                        if (i % 3 === 0) {
                            $('#blob-items').append($('<div />', { "class": "row" }));
                        }

                        var $blobItemTemplate = $($('#blob-item-template').html());
                        $blobItemTemplate.find('.blob-name').html(data.Blobs[i].Name);
                        $blobItemTemplate.find('.blob-img').attr('src', data.Blobs[i].Uri).click(function () {
                            var value = $(this).attr('src');
                            $('#BackgroundImageUrl').val(value);
                            $('#fakeBackgroundImageUrl').val(value);
                            $('#browseMediaModal').modal('hide');
                        });

                        $('#blob-items > .row:last-of-type').append($blobItemTemplate);
                    }

                    if (data.Pages == 1)
                        $('#blob-pages').hide();
                    else {
                        $('#blob-pages').show();
                        currentPage = page;
                        $('.blob-page').remove();
                        for (i = 1; i <= data.Pages; i++) {
                            var $blobPageTemplate = $($('#blob-page-template').html());
                            $blobPageTemplate.find('a').attr('data-page-number', i).html(i);
                            if (currentPage == i)
                                $blobPageTemplate.addClass('active');
                            $('.blob-page-next').before($blobPageTemplate);
                        }
                        $('.blob-page').click(function () {
                            fetchBlobs($(this).find('a').attr('data-page-number'));
                        });


                        if (currentPage == 1)
                            $('.blob-page-previous').addClass('disabled');
                        else
                            $('.blob-page-previous').removeClass('disabled');

                        if (currentPage == data.Pages)
                            $('.blob-page-next').addClass('disabled');
                        else
                            $('.blob-page-next').removeClass('disabled');
                    }
                });
            }
            $('.blob-page-previous').click(function () {
                fetchBlobs(currentPage - 1);
            });
            $('.blob-page-next').click(function () {
                fetchBlobs(currentPage + 1);
            });
            $('#browseMediaModal').on('shown.bs.modal', function () {
                fetchBlobs(1);
            });
            $('.btn-ok').click(function () {
                console.log(data[currentPage - 1]);
            });

        });
    </script>
}
