﻿@model String
@{
    ViewBag.Title = "Create Blob";
}

<div class="container">

    <h2>@ViewBag.Title</h2>

    <div class="content">

        @using (Html.BeginForm("Create", "Storage", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="form-group">
                    <label for="fakeImageUrl" class="control-label">Image</label>
                    <input id="file" name="file" type="file" style="display: none;" />
                    <div class="input-group">
                        <input type="hidden" name="ImageUrl" id="ImageUrl" value="@Model" />
                        <input type="text" name="fakeImageUrl" id="fakeImageUrl" value="@Model" class="form-control" disabled="disabled" />
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-block" style="height: 48px;" id="fake-upload-button" type="submit" value="Browse">Browse</button>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(model => model, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-offset-3 col-md-6">
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        }

    </div>

</div>

@section scripts {
    <script>
        $(function () {
            $("#fake-upload-button").click(function (event) {
                event.preventDefault();
                $("#file").click();
            });

            $("#file").bind('change', function () {
                var displayFilename = this.value.replace("C:\\fakepath\\", "");
                $("#ImageUrl").val(displayFilename);
                $("#fakeImageUrl").val(displayFilename);
            });

        });
    </script>
}
