﻿@model gzWeb.Admin.Models.StorageIndexViewModel

@{
    ViewBag.Title = "Blob Storage";
}
<div class="container" ng-app="blobStorageApp">
    
    <div ng-controller="mainCtrl as $ctrl">

        <h2>@ViewBag.Title</h2>
        @*<h3>@Html.ActionLink("Create New", "Create")</h3>*@
        <h3><button class="btn  btn-primary" ng-click="$ctrl.showUploadDialog()">Upload</button>
        </h3>

        <div class="content">

            <ul uib-pagination
                total-items="$ctrl.itemsCount"
                ng-model="$ctrl.page"
                max-size="10" class="pagination-sm"
                boundary-links="true"
                items-per-page="$ctrl.pageSize"
                force-ellipses="true"
                previous-text="&lsaquo;"
                next-text="&rsaquo;"
                first-text="&laquo;"
                last-text="&raquo;"
                ng-change="$ctrl.fetch()"></ul>

            <table class="table table-condensed table-bordered table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Image </th>
                    <th>CDN Image</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in $ctrl.items">
                    <td>{{item.Name}}</td>
                    <td><img ng-src="{{item.Uri}}" style="width: 100px; height: 50px;"/></td>
                    <td><img ng-src="{{item.CdnUri}}" style="width: 100px; height: 50px;"/></td>
                    <td><button class="btn btn-danger" ng-click="$ctrl.delete(item.Name)">Delete</button></td>
                </tr>
                </tbody>
            </table>
            <ul uib-pagination
                total-items="$ctrl.itemsCount"
                ng-model="$ctrl.page"
                max-size="10" class="pagination-sm"
                boundary-links="true"
                items-per-page="$ctrl.pageSize"
                force-ellipses="true"
                previous-text="&lsaquo;"
                next-text="&rsaquo;"
                first-text="&laquo;"
                last-text="&raquo;"
                ng-change="$ctrl.fetch()"></ul>
        </div>
    </div>

    <script id="uploadFilesDialog.html" type="text/ng-template">

        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Add files</h3>
        </div>

        <form name="form" enctype="multipart/form-data">
            <div class="modal-body" id="modal-body">

                <div class="input-group">
                    <div class="btn btn-default" ngf-select ng-model="$ctrl.files" ngf-multiple="true" ngf-keep="'distinct'">Select</div>
                </div>
                <br />
                <ul>
                    <li ng-repeat="file in $ctrl.files">
                        {{file.name}}
                    </li>
                </ul>

            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="$ctrl.upload()">Upload</button>
                <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
            </div>
        </form>


    </script>
</div>

@section scripts {
    <script type="text/javascript">
        var app = angular
            .module("blobStorageApp", ["ui.bootstrap", "ngFileUpload"])
            .controller("mainCtrl", [
                "$uibModal", "$http", "$log",
                function($uibModal, $http, $log) {
                    var $ctrl = this;

                    $ctrl.page = 1;
                    $ctrl.pageSize = 20;
                    $ctrl.items = [];
                    $ctrl.itemsCount = 1;

                    $ctrl.delete = function(name) {
                        $http({
                                method: "POST",
                                url: "Storage/DeleteBlob",
                                params: {
                                    filename: name
                                }
                            })
                            .then(function(response) {
                                $log.error(response);
                                $ctrl.fetch();
                            }, function(response) {
                                $log.error(response);
                            });
                    };

                    $ctrl.fetch = function() {
                        $http({
                                method: "POST",
                                url: "Storage/FetchBlobs",
                                params: {
                                    page: $ctrl.page,
                                    pageSize: $ctrl.pageSize
                                }
                            })
                            .then(function(response) {
                                $ctrl.pages = response.data.Pages;
                                $ctrl.items = response.data.Blobs;
                                $ctrl.itemsCount = response.data.BlobsCount;
                            }, function(response) {
                                $log.error(response);
                            });
                    };

                    $ctrl.showUploadDialog = function() {
                        $uibModal.open({
                                animation: true, //$ctrl.animationsEnabled,
                                ariaLabelledBy: 'modal-title',
                                ariaDescribedBy: 'modal-body',
                                templateUrl: 'uploadFilesDialog.html',
                                controller: 'uploadFilesCtrl',
                                controllerAs: '$ctrl',
                                //size: size,
                                //appendTo: parentElem,
                                //resolve: {
                                //    accountId: function () { return $ctrl.activeAccount.Id; }
                                //}
                            })
                            .result.then(function(data) {
                                $ctrl.fetch();
                            }, function() {
                            });
                    };

                    $ctrl.fetch();
                }
            ])
            .controller("uploadFilesCtrl", [
                "$uibModalInstance", "Upload", "$log",
                function($uibModalInstance, Upload, $log) {
                    var $ctrl = this;

                    $ctrl.files = [];

                    $ctrl.upload = function() {
                        var files = $ctrl.files;
                        if (files && files.length) {
                            Upload.upload({
                                url: "Storage/Upload",
                                data: {
                                    file: files
                                }
                            })
                            .then(function (response) {
                                $log.info('Success ' + response.config.data.file.name + 'uploaded. Response: ' + response.data);
                                //$ctrl.progress = 0;
                                $ctrl.files = [];
                                //alert("Done");
                            }, function (response) {
                                $log.error("Error status:" + response.status);
                                //alert("Error status:" + response.status);
                            }, function (event) {
                                //$ctrl.progress = 100.0 * event.loaded / event.total;
                            });
                        }
                        $uibModalInstance.close();
                    };

                    $ctrl.cancel = function() {
                        $uibModalInstance.dismiss();
                    };
                }
            ]);
    </script>
}