﻿@model gzDAL.Models.DynamicPage

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DynamicPage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DynamicPageTemplate.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DynamicPageTemplate.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UseInPromoList)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UseInPromoList)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThumbImageUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThumbImageUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThumbTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThumbTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThumbText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThumbText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Live)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Live)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LiveFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LiveFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LiveTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LiveTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Html)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Html)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deleted)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
