﻿@using System.Text.RegularExpressions
@model gzWeb.Admin.Models.DynamicPageEditViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .inside {
        margin-top: 20px;
        margin-bottom: 20px;
        /*background: #ededed;*/
        /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(100%, #ededed));*/
        /*background: -moz-linear-gradient(top, #f4f4f4 0%, #ededed 100%);*/
        /*background: -ms-linear-gradient(top, #f4f4f4 0%, #ededed 100%);*/
    }

    .inside-full-height {
        /*
        // if you want to give content full height give him height: 100%;
        // with content full height you can't apply margins to the content
        // content full height does not work in ie http://stackoverflow.com/questions/27384433/ie-display-table-cell-child-ignores-height-100
        */
        height: 100%;
        margin-top: 0;
        margin-bottom: 0;
    }

    .content {
        padding: 12px 3px;
    }

    .row-height {
        display: table;
        table-layout: fixed;
        height: 100%;
        width: 100%;
    }

    .col-height {
        display: table-cell;
        float: none;
        height: 100%;
    }

    .col-top {
        vertical-align: top;
    }

    .col-middle {
        vertical-align: middle;
    }

    .col-bottom {
        vertical-align: bottom;
    }

    @@media (min-width: 480px) {
        .row-xs-height {
            display: table;
            table-layout: fixed;
            height: 100%;
            width: 100%;
        }

        .col-xs-height {
            display: table-cell;
            float: none;
            height: 100%;
        }

        .col-xs-top {
            vertical-align: top;
        }

        .col-xs-middle {
            vertical-align: middle;
        }

        .col-xs-bottom {
            vertical-align: bottom;
        }
    }

    @@media (min-width: 768px) {
        .row-sm-height {
            display: table;
            table-layout: fixed;
            height: 100%;
            width: 100%;
        }

        .col-sm-height {
            display: table-cell;
            float: none;
            height: 100%;
        }

        .col-sm-top {
            vertical-align: top;
        }

        .col-sm-middle {
            vertical-align: middle;
        }

        .col-sm-bottom {
            vertical-align: bottom;
        }
    }

    @@media (min-width: 992px) {
        .row-md-height {
            display: table;
            table-layout: fixed;
            height: 100%;
            width: 100%;
        }

        .col-md-height {
            display: table-cell;
            float: none;
            height: 100%;
        }

        .col-md-top {
            vertical-align: top;
        }

        .col-md-middle {
            vertical-align: middle;
        }

        .col-md-bottom {
            vertical-align: bottom;
        }
    }

    @@media (min-width: 1200px) {
        .row-lg-height {
            display: table;
            table-layout: fixed;
            height: 100%;
            width: 100%;
        }

        .col-lg-height {
            display: table-cell;
            float: none;
            height: 100%;
        }

        .col-lg-top {
            vertical-align: top;
        }

        .col-lg-middle {
            vertical-align: middle;
        }

        .col-lg-bottom {
            vertical-align: bottom;
        }
    }

    .blob-img {
        margin-top: 10px;
        cursor: pointer;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <h2 class="text-gz">Edit</h2>
                <h4>Dynamic Page</h4>
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-right">
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </div>

    @using (Html.BeginForm("Edit", "DynamicPages", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <input type="hidden" name="Page.Id" value="@Model.Page.Id" />
        <input type="hidden" name="Page.DynamicPageTemplateId" value="@Model.Page.DynamicPageTemplateId" />

        <div class="row">
            <div class="row-height">
                <div class="col-xs-12 col-sm-6 col-sm-height">
                    <div class="inside inside-full-height">
                        <div class="content">

                            <div class="form-group">
                                @Html.LabelFor(model => model.Page.DynamicPageTemplate.Name, labelText: "Template", htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Page.DynamicPageTemplate.Name, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                @Html.ValidationMessageFor(model => model.Page.DynamicPageTemplate.Name, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Page.Code, htmlAttributes: new {@class = "control-label"})
                                @Html.EditorFor(model => model.Page.Code, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(model => model.Page.Code, "", new {@class = "text-danger"})
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Page.IsMobile, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Page.IsMobile, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Page.IsMobile, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Page.UseInPromoList, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Page.UseInPromoList, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Page.UseInPromoList, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Page.ThumbImageUrl, htmlAttributes: new { @class = "control-label" })
                                <div class="input-group">
                                    <input type="hidden" name="Page.ThumbImageUrl" id="ThumbImageUrl" value="@Model.Page.ThumbImageUrl" />
                                    <input type="text" name="fakeThumbImageUrl" id="fakeThumbImageUrl" value="@Model.Page.ThumbImageUrl" class="form-control" disabled="disabled"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default btn-block" style="height: 48px;" data-toggle="modal" data-target="#browseMediaModal" data-refobj="ThumbImageUrl">Browse</button>
                                    </span>
                                </div>
                                @Html.ValidationMessageFor(model => model.Page.ThumbImageUrl, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Page.ThumbTitle, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Page.ThumbTitle, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Page.ThumbTitle, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Page.ThumbText, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Page.ThumbText, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Page.ThumbText, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-inline col-middle">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Page.Live, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Page.Live, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Page.Live, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-daterange">
                                        <span class="input-group-addon">From</span>
                                        <input type="text" id="LiveFrom" name="Page.LiveFrom" value="@Model.Page.LiveFrom.ToString("yyyy-MM-dd HH:mm")" class="form-control" />
                                        <span class="input-group-addon">To</span>
                                        <input type="text" id="LiveTo" name="Page.LiveTo" value="@Model.Page.LiveTo.ToString("yyyy-MM-dd HH:mm")" class="form-control" />
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Page.LiveFrom, "", new { @class = "text-danger" })
                                    @Html.ValidationMessageFor(model => model.Page.LiveTo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-sm-height">
                    <div class="inside inside-full-height">
                        <div class="content">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Page.Html, htmlAttributes: new { @class = "control-label" })
                                <textarea class="form-control" rows=20 data-editor="html" name="Page.Html">@(string.IsNullOrEmpty(Model.Page.Html) ? Model.Page.DynamicPageTemplate.Html : Model.Page.Html)</textarea>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-xs-12">
                @{
                    var idx = 0;
                    foreach (var data in Model.Data)
                    {
                        var propertyName = data.DataName;
                        <div class="form-group">
                            <input type="hidden" name="@($"Data[{idx}].Id")" value="@data.Id" />
                            <input type="hidden" name="@($"Data[{idx}].DataName")" value="@propertyName" />
                            <input type="hidden" name="@($"Data[{idx}].DataType")" value="@data.DataType" />
                            <label class="control-label" for="@($"propertyName_{propertyName}")">@propertyName</label>
                            @switch (data.DataType)
                            {
                                case "url":
                                case "text":
                                    <input type="text" id="@($"propertyName_{propertyName}")" name="@($"Data[{idx}].DataValue")" value="@data.DataValue" class="form-control" />
                                    break;
                                case "html":
                                    <textarea id="@($"propertyName_{propertyName}")" name="@($"Data[{idx}].DataValue")" class="form-control" rows=10 data-editor="html">@data.DataValue</textarea>
                                    break;
                                case "image":
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="hidden" id="@($"propertyName_{propertyName}")" name="@($"Data[{idx}].DataValue")" value="@data.DataValue"/>
                                            <input type="text" id="@($"fakepropertyName_{propertyName}")" class="form-control" disabled="disabled" value="@data.DataValue"/>
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default btn-block" style="height: 48px;" data-toggle="modal" data-target="#browseMediaModal" data-refobj="@($"propertyName_{propertyName}")">Browse</button>
                                            </span>
                                        </div>
                                    </div>
                                    break;
                            }
                        </div>
                        idx++;
                    }
                }
            </div>

            <div class="col-md-offset-3 col-md-6">
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default" />
                </div>
            </div>
        </div>
                    }
</div>

<div class="modal fade" id="browseMediaModal" tabindex="-1" role="dialog" aria-labelledby="browseMediaModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <input type="hidden" id="refObj" value="" />
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="browseMediaModalLabel">Select an image</h4>
            </div>
            <div class="modal-body">
                <div id="blob-items">
                </div>

                <div class="row text-center">
                    <nav aria-label="Blob images navigation">
                        <ul id="blob-pages" class="pagination">
                            <li class="blob-page-previous">
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="blob-page-next">
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            @*<div class="modal-footer">
                <button type="button" class="btn btn-default btn-ok" disabled>OK</button>
            </div>*@
        </div>
    </div>
</div>


@section scripts{
    <script id="blob-item-template" type="text/x-blob-template">
        <div class="col-xs-4 text-center">
            <img class="blob-img img-responsive img-thumbnail" />
            <div class="blob-name full-width"></div>
        </div>
    </script>
    <script id="blob-page-template" type="text/x-blob-template">
        <li class="blob-page"><a></a></li>
    </script>



    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.3/ace.js"></script>
    <script>
        $(function () {
            $('#LiveFrom').datetimepicker({
                format: "yyyy-mm-dd hh:ii",
                autoclose: true,
                todayBtn: true
            });
            $('#LiveTo').datetimepicker({
                format: "yyyy-mm-dd hh:ii",
                autoclose: true,
                todayBtn: true
            });

            // Hook up ACE editor to all textareas with data-editor attribute
            $('textarea[data-editor]').each(function () {
                var textarea = $(this);

                var mode = textarea.data('editor');

                var editDiv = $('<div>', {
                    position: 'absolute',
                    width: textarea.width(),
                    height: textarea.height(),
                    'class': textarea.attr('class')
                }).insertBefore(textarea);

                textarea.css('display', 'none');

                var editor = ace.edit(editDiv[0]);
                editor.renderer.setShowGutter(false);
                editor.getSession().setValue(textarea.val());
                editor.getSession().setMode("ace/mode/" + mode);
                // editor.setTheme("ace/theme/idle_fingers");

                // copy back to textarea on form submit...
                textarea.closest('form').submit(function () {
                    textarea.val(editor.getSession().getValue());
                });

            });


            $('#browseMediaModal').on('show.bs.modal', function (event) {
                var btn = $(event.relatedTarget);
                var refObj = btn.data('refobj');
                $(this).find('#refObj').val(refObj);
            });

            var currentPage = undefined;
            var data = [];
            function fetchBlobs(page) {
                $.post('/Storage/FetchBlobs', { page: page }, function (data) {
                    $('#blob-items').empty();
                    data = data;
                    for (var i = 0; i < data.Blobs.length; i++) {
                        if (i % 3 === 0) {
                            $('#blob-items').append($('<div />', { "class": "row" }));
                        }

                        var $blobItemTemplate = $($('#blob-item-template').html());
                        $blobItemTemplate.find('.blob-name').html(data.Blobs[i].Name);
                        $blobItemTemplate.find('.blob-img').attr('src', data.Blobs[i].Uri).click(function () {
                            var refObj = $('#refObj').val();
                            var value = $(this).attr('src');
                            $('#' + refObj).val(value);
                            $('#fake' + refObj).val(value);
                            $('#browseMediaModal').modal('hide');
                        });

                        $('#blob-items > .row:last-of-type').append($blobItemTemplate);
                    }

                    if (data.Pages == 1)
                        $('#blob-pages').hide();
                    else {
                        $('#blob-pages').show();
                        currentPage = page;
                        $('.blob-page').remove();
                        for (i = 1; i <= data.Pages; i++) {
                            var $blobPageTemplate = $($('#blob-page-template').html());
                            $blobPageTemplate.find('a').attr('data-page-number', i).html(i);
                            if (currentPage == i)
                                $blobPageTemplate.addClass('active');
                            $('.blob-page-next').before($blobPageTemplate);
                        }
                        $('.blob-page').click(function () {
                            fetchBlobs($(this).find('a').attr('data-page-number'));
                        });


                        if (currentPage == 1)
                            $('.blob-page-previous').addClass('disabled');
                        else
                            $('.blob-page-previous').removeClass('disabled');

                        if (currentPage == data.Pages)
                            $('.blob-page-next').addClass('disabled');
                        else
                            $('.blob-page-next').removeClass('disabled');
                    }
                });
            }
            $('.blob-page-previous').click(function () {
                fetchBlobs(currentPage - 1);
            });
            $('.blob-page-next').click(function () {
                fetchBlobs(currentPage + 1);
            });
            $('#browseMediaModal').on('shown.bs.modal', function () {
                fetchBlobs(1);
            })
            $('.btn-ok').click(function () {
                console.log(data[currentPage - 1]);
            });
        });
    </script>
}
