﻿@model gzDAL.Models.DynamicPageTemplate

@{
    ViewBag.Title = "TemplateDetails";
}

<h2>TemplateDetails</h2>

<div>
    <h4>DynamicPageTemplate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Html)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Html)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "TemplateEdit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Templates")
</p>
