﻿@model gzWeb.Admin.Models.DynamicPageTemplatesViewModel

@{
    ViewBag.Title = "Templates";
}

<h2>Templates</h2>

<p>
    @Html.ActionLink("Create New", "TemplateCreate")
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Entries) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Create Page", "Create", new { id = item.Id }) |
            @Html.ActionLink("Edit", "TemplateEdit", new {id = item.Id}) |
            @Html.ActionLink("Details", "TemplateDetails", new {id = item.Id}) |
            @Html.ActionLink("Delete", "TemplateDelete", new {id = item.Id})
        </td>
    </tr>
}

</table>
