﻿@model gzWeb.Admin.Models.RoleViewModel

@{
    ViewBag.Title = "Role Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="admin admin-edit role-edit manage-pages">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 admin-interface">

                <div class="col-md-6">
                    <div class="row heading">
                        <h2 class="text-gz">Role Edit</h2>
                        <h4>Manage</h4>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row heading text-right">
                        @Html.ActionLink("Back to List", "Roles")
                    </div>
                </div>

                <div class="col-md-12 bg-gz">
                    <div class="row content">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="row">
                                <div class="col-xs-8 col-xs-offset-2">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(model => model.Role.Id)

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Role.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-12">
                                            <input class="form-control text-box single-line" id="Role_Name" name="Name" type="text" value="@Model.Role.Name"/>
                                            @*@Html.EditorFor(model => model.Role.Name, new { htmlAttributes = new { @class = "form-control" } })*@
                                            @Html.ValidationMessageFor(model => model.Role.Name, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-8 col-xs-offset-2">
                                    <div class="form-group">
                                        <input type="submit" value="Save" class="btn btn-default col-md-12" />
                                    </div>
                                </div>
                            </div>
                        }

                        @using (Html.BeginForm("RoleAddOrRemoveUser", "Manage", FormMethod.Post))
                        {
                            @Html.HiddenFor(model => model.Role.Id)

                            <div class="row listboxes">
                                <div class="col-xs-8 col-xs-offset-2">
                                    <div class="col-xs-5">
                                        <div class="form-group">
                                            <div class="col-xs-12">
                                                <label>No Member Users</label>
                                            </div>
                                            <div class="col-xs-12">
                                                @Html.ListBoxFor(model => model.Users, Model.Users.Select(x => new SelectListItem
                                           {
                                               Value = x.Id.ToString(),
                                               Text = x.UserName
                                           }), new { size = 20 })
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-xs-2">
                                        <div class="form-group text-center">
                                            <input type="submit" name="submit" value="Add" class="btn btn-default" />
                                            <input type="submit" name="submit" value="Remove" class="btn btn-default" />
                                        </div>
                                    </div>

                                    <div class="col-xs-5">
                                        <div class="form-group">
                                            <div class="col-xs-12">
                                                <label>Member Users</label>
                                            </div>
                                            <div class="col-xs-12">
                                                @Html.ListBoxFor(model => model.UsersOfRole, Model.UsersOfRole.Select(x => new SelectListItem
                                                   {
                                                       Value = x.Id.ToString(),
                                                       Text = x.UserName
                                                   }), new { size = 20 })
                                            </div>

                                        </div>
                                    </div>
                                </div>    
                            </div>

                            
                        }
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
