﻿@model gzDAL.Models.CustomRole

@{
    ViewBag.Title = "Role Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="admin admin-create admin-actions">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 create-interface">

                <div class="col-md-12 text-center">
                    <div class="row heading">
                        <h2 class="text-gz">Role Create</h2>
                        <h4>Manage</h4>
                    </div>
                </div>

                <div class="col-md-12 bg-gz">
                    <div class="row content">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="col-xs-8 col-xs-offset-2">
                                <div class="form-horizontal">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Create" class="btn btn-default" />
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    @Html.ActionLink("Back to List", "Roles")
                                </div>
                            </div>
                        }



                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

