﻿@using System.Configuration
@model gzWeb.Admin.Models.UserEditViewModel

@{
    var user = Model.User;

    ViewBag.Title = "User Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var resetPasswordUrl = ConfigurationManager.AppSettings["gzUrl"] + $"?forgot=true&email={user.Email}";
}

<div class="admin admin-edit user-edit manage-pages" ng-app="gzAdmin" ng-controller="userCtrl" ng-cloack>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 admin-interface">

                <div class="col-md-12">
                    <div class="row heading">
                        <h2 class="text-gz">User [ #@user.Id - @user.UserName@(Model.IsUserValid ? "" : " - NOT VALID") ]</h2>
                        <h4>Edit</h4>
                    </div>
                    <div class="row heading heading-menu text-right">
                        @Html.ActionLink("Logs", "Index", "Logs", new { userSearchText = user.UserName }, null) |
                        <span ng-show="doneLoading && userNameAvailable && emailAvailable && !hasGmCustomerId"><a href="@Url.Action("UserDelete", "Manage", new {id = user.Id})">Delete</a> |</span>
                        <span ng-show="doneLoading && !userNameAvailable && !emailAvailable && hasGmCustomerId"><a href="@resetPasswordUrl">Reset Password</a> |</span>
                        @Html.ActionLink("Back to List", "Users", "Manage")
                    </div>
                </div>

                <div class="col-md-12 bg-gz">
                    <div class="row content">
                        <div class="col-md-10 col-md-offset-1">
                            @using (Html.BeginForm("UserEdit", "Manage", FormMethod.Post, new {id = "userForm"}))
                            {
                                @Html.AntiForgeryToken()

                                <div class="row">

                                    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                                    @Html.HiddenFor(model => user.Id)

                                    <div class="form-group">
                                        @Html.LabelFor(model => user.UserName, htmlAttributes: new {@class = "control-label"})
                                        <div class="input-group">
                                            <input class="form-control" id="Name" name="Name" type="text" value="@user.UserName" readonly="readonly"/>
                                            <div class="input-group-addon">
                                                <i ng-class="!userNameAvailable ? 'fa fa-2x fa-check':'fa fa-2x fa-times'" aria-hidden="true" title="{{!userNameAvailable ? 'Found In EM-Server' : 'Not Found In EM-Server'}}"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => user.Email, htmlAttributes: new {@class = "control-label"})

                                        <div class="input-group">
                                            <input class="form-control" id="Email" name="Email" type="text" value="@user.Email" readonly="readonly"/>
                                            <div class="input-group-addon">
                                                <i ng-class="!emailAvailable ? 'fa fa-2x fa-check':'fa fa-2x fa-times'" aria-hidden="true" title="{{!userNameAvailable ? 'Found In EM-Server' : 'Not Found In EM-Server'}}"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => user.GmCustomerId, htmlAttributes: new {@class = "control-label"})
                                        <input class="form-control text-box single-line" id="GmCustomerId" name="GmCustomerId" type="text" value="@user.GmCustomerId"/>
                                        <label>@Model.GmUserId</label>
                                        @Html.ValidationMessageFor(model => user.GmCustomerId, "", new {@class = "text-danger"})
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => user.LastName, htmlAttributes: new {@class = "control-label"})
                                        <input class="form-control" id="LastName" name="LastName" type="text" value="@user.LastName"/>
                                        @Html.ValidationMessageFor(model => user.LastName, "", new {@class = "text-danger"})
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => user.FirstName, htmlAttributes: new {@class = "control-label"})
                                        <input class="form-control" id="FirstName," name="FirstName" type="text" value="@user.FirstName"/>
                                        @Html.ValidationMessageFor(model => user.FirstName, "", new {@class = "text-danger"})
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => user.Currency, htmlAttributes: new { @class = "control-label" })
                                        <input class="form-control text-box single-line" id="Currency" name="Currency" type="text" value="@user.Currency" readonly="readonly" />
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => user.Birthday, htmlAttributes: new { @class = "control-label" })
                                        <input class="form-control" id="Birthday" name="Birthday" type="text" value="@user.Birthday" readonly="readonly" />
                                    </div>

                                    <div class="form-inline">
                                        <div class="form-group">
                                            @Html.LabelFor(model => user.DisabledGzCustomer, htmlAttributes: new {@class = "control-label"})
                                            @Html.EditorFor(model => user.DisabledGzCustomer, new { @class = "control-label" })
                                            @Html.ValidationMessageFor(model => user.DisabledGzCustomer, "", new {@class = "text-danger"})
                                        </div>
                                    </div>

                                    <div class="form-inline">
                                        <div class="form-group">
                                            @Html.LabelFor(model => user.ClosedGzAccount, htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model=> user.ClosedGzAccount, new { @class = "control-label" })
                                            @Html.ValidationMessageFor(model => user.ClosedGzAccount, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-inline">
                                        <div class="form-group">
                                            @Html.LabelFor(model => user.ActiveCustomerIdInPlatform, htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => user.ActiveCustomerIdInPlatform, new { @class = "control-label" })
                                            @Html.ValidationMessageFor(model => user.ActiveCustomerIdInPlatform, "", new { @class = "text-danger" })
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        @Html.LabelFor(model => user.LastLogin, htmlAttributes: new {@class = "control-label"})
                                        <input class="form-control" id="LastLogin" name="LastLogin" type="text" value="@user.LastLogin" readonly="readonly"/>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-xs-10 col-xs-offset-1">
                                        <div class="form-group">
                                            <input type="submit" value="Save" class="btn btn-default"/>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</div>

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js" type="text/javascript"></script>
    <script src="https://autobahn.s3.amazonaws.com/autobahnjs/latest/autobahn.min.jgz" type="text/javascript"></script>
    <script src="~/Scripts/angular-wamp.min.js"></script>
    <script type="text/javascript">

        var app = angular
            .module('gzAdmin', ['vxWamp'])
            .config([
                '$wampProvider', function($wampProvider) {
                    $wampProvider.init({
                        transports: [
                            { 'type': 'websocket', 'url': '@ConfigurationManager.AppSettings["emWSS"]' },
                            { 'type': 'longpoll', 'url': '@ConfigurationManager.AppSettings["emFallback"]' }
                        ],
                        url: '@ConfigurationManager.AppSettings["emWSS"]',
                        realm: 'http://www.greenzorro.com'
                    });
                }
            ])
            .controller('userCtrl', [
                '$scope', '$wamp', function($scope, $wamp) {

                    var _call = function(uri, parameters) {

                        var callReturn = $wamp.call(uri, [], parameters);

                        var originalFunc = callReturn.then;
                        callReturn.then = function(successCallback, failureCallback) {
                            function success(d) {
                                if (typeof (successCallback) === 'function')
                                    successCallback(d && d.kwargs);
                            }

                            function error(e) {
                                if (typeof (failureCallback) === 'function')
                                    failureCallback(e.kwargs);
                            }

                            return originalFunc.call(callReturn, success, error);
                        };

                        return callReturn;
                    };

                    $scope.doneLoading = false;
                    $scope.userNameAvailable = false;
                    $scope.emailAvailable = false;
                    $scope.hasGmCustomerId = @(user.GmCustomerId.HasValue ? "true" : "false");

                    function _init() {

                        $scope.$on("$wamp.open", function(event, session) {

                            _call("/user/account#validateUsername", { username: '@user.UserName' })
                                .then(function(result) {
                                    $scope.userNameAvailable = result.isAvailable;
                                    _call("/user/account#validateEmail", { email: '@user.Email' })
                                        .then(function(result) {
                                            $scope.emailAvailable = result.isAvailable;
                                            $scope.doneLoading = true;
                                        }, function(error) {
                                            console.log(error);
                                        });
                                }, function(error) {
                                    console.log(error);
                                });
                        });

                        $wamp.open();

                    };

                    _init();

                }
            ]);
    </script>
}
