﻿@using System.Configuration
@model gzWeb.Admin.Models.UserViewModel

@{
    ViewBag.Title = "UserDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var resetPasswordUrl = ConfigurationManager.AppSettings["gzUrl"] + $"?forgot=true&email={Model.User.Email}";
}

<div class="admin admin-details user-details manage-pages" ng-app="gzAdmin" ng-controller="userCtrl" ng-cloack>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 admin-interface">

                <div class="col-md-12">
                    <div class="row heading">
                        <h2 class="text-gz">User [ #@Model.User.Id - @Model.User.UserName@(Model.IsUserValid ? "" : " - NOT VALID")]</h2>
                        <h4>Details</h4>
                    </div>
                    <div class="row heading heading-menu text-right">
                        @Html.ActionLink("Logs", "Index", "Logs", new { userSearchText = Model.User.UserName }, null) |
                        @Html.ActionLink("Edit", "UserEdit", "Manage", new { id = Model.User.Id }, null) |
                        <span ng-show="doneLoading && userNameAvailable && emailAvailable && !hasGmCustomerId"><a href="@Url.Action("UserDelete", "Manage", new {id = Model.User.Id})">Delete</a> |</span>
                        <span ng-show="doneLoading && !userNameAvailable && !emailAvailable && hasGmCustomerId"><a href="@resetPasswordUrl">Reset Password</a> |</span>
                        @Html.ActionLink("Back to List", "Users", "Manage")
                    </div>
                </div>

                <div class="col-md-12 bg-gz">
                    <div class="row content">
                        <div class="col-md-10 col-md-offset-1">
                            <form>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.User.UserName, htmlAttributes: new {@class = "control-label"})
                                    <div class="input-group">
                                        <input class="form-control text-box single-line" id="User_Name" name="UserName" type="text" value="@Model.User.UserName" disabled/>
                                        <div class="input-group-addon">
                                            <i ng-class="!userNameAvailable ? 'fa fa-2x fa-check':'fa fa-2x fa-times'" aria-hidden="true" title="{{!userNameAvailable ? 'Found In EM-Server' : 'Not Found In EM-Server'}}"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.User.Email, htmlAttributes: new {@class = "control-label"})

                                    <div class="input-group">
                                        <input class="form-control text-box single-line" id="User_Email" name="Email" type="text" value="@Model.User.Email" disabled/>
                                        <div class="input-group-addon">
                                            <i ng-class="!emailAvailable ? 'fa fa-2x fa-check':'fa fa-2x fa-times'" aria-hidden="true" title="{{!userNameAvailable ? 'Found In EM-Server' : 'Not Found In EM-Server'}}"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.User.GmCustomerId, htmlAttributes: new {@class = "control-label"})
                                    <input class="form-control text-box single-line" id="User_GmCustomerId" name="GmCustomerId" type="text" value="@Model.User.GmCustomerId" disabled/>
                                    <label>@Model.GmUserId</label>
                                    
                                </div>
                                
                                <div class="form-group">
                                    @Html.LabelFor(model => model.User.LastName, htmlAttributes: new {@class = "control-label"})
                                    <input class="form-control text-box single-line" id="User_LastName" name="LastName" type="text" value="@Model.User.LastName" disabled/>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.User.FirstName, htmlAttributes: new {@class = "control-label"})
                                    <input class="form-control" id="User_FirstName" name="FirstName" type="text" value="@Model.User.FirstName" disabled/>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.User.Currency, htmlAttributes: new {@class = "control-label"})
                                    <input class="form-control text-box single-line" id="User_Currency" name="Currency" type="text" value="@Model.User.Currency" disabled/>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.User.Birthday, htmlAttributes: new {@class = "control-label"})
                                    <input class="form-control" id="User_Birthday" name="Birthday" type="text" value="@Model.User.Birthday" disabled/>
                                </div>

                                <div class="form-inline">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.User.DisabledGzCustomer, htmlAttributes: new {@class = "control-label"})
                                        <i class="@(@Model.User.DisabledGzCustomer ? "fa fa-2x fa-check-square-o" : "fa fa-2x fa-square-o")" aria-hidden="true"></i>
                                    </div>
                                </div>

                                <div class="form-inline">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.User.ClosedGzAccount, htmlAttributes: new { @class = "control-label" })
                                        <i name="User_ClosedGzAccount" class="@(@Model.User.ClosedGzAccount ? "fa fa-2x fa-check-square-o" : "fa fa-2x fa-square-o")" aria-hidden="true"></i>
                                    </div>
                                </div>

                                <div class="form-inline">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.User.ActiveCustomerIdInPlatform, htmlAttributes: new {@class = "control-label"})
                                        <i name="User_ActiveCustomerIdInPlatform" class="@(@Model.User.ActiveCustomerIdInPlatform ? "fa fa-2x fa-check-square-o" : "fa fa-2x fa-square-o")" aria-hidden="true"></i>
                                    </div>
                                </div>


                                <div class="form-group">
                                    @Html.LabelFor(model => model.User.LastLogin, htmlAttributes: new {@class = "control-label"})
                                    <input class="form-control" id="User_LastLogin" name="LastLogin" type="text" value="@Model.User.LastLogin" disabled/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js" type="text/javascript"></script>
    <script src="https://autobahn.s3.amazonaws.com/autobahnjs/latest/autobahn.min.jgz" type="text/javascript"></script>
    <script src="~/Scripts/angular-wamp.min.js"></script>
    <script type="text/javascript">
        var app = angular
            .module('gzAdmin', ['vxWamp'])
            .config([
                '$wampProvider', function($wampProvider) {
                    $wampProvider.init({
                        transports: [
                            { 'type': 'websocket', 'url': '@ConfigurationManager.AppSettings["emWSS"]' },
                            { 'type': 'longpoll', 'url': '@ConfigurationManager.AppSettings["emFallback"]' }
                        ],
                        url: '@ConfigurationManager.AppSettings["emWSS"]',
                        realm: 'http://www.greenzorro.com'
                    });
                }
            ])
            .controller('userCtrl', ['$scope', '$wamp', function ($scope, $wamp) {

                var _call = function(uri, parameters) {

                    var callReturn = $wamp.call(uri, [], parameters);

                    var originalFunc = callReturn.then;
                    callReturn.then = function(successCallback, failureCallback) {
                        function success(d) {
                            if (typeof (successCallback) === 'function')
                                successCallback(d && d.kwargs);
                        }

                        function error(e) {
                            if (typeof (failureCallback) === 'function')
                                failureCallback(e.kwargs);
                        }

                        return originalFunc.call(callReturn, success, error);
                    };

                    return callReturn;
                };

                $scope.doneLoading = false;
                $scope.userNameAvailable = false;
                $scope.emailAvailable = false;
                $scope.hasGmCustomerId = @(Model.User.GmCustomerId.HasValue ? "true" : "false");

                function _init() {

                    $scope.$on("$wamp.open", function(event, session) {

                        _call("/user/account#validateUsername", { username: '@Model.User.UserName' })
                            .then(function(result) {
                                $scope.userNameAvailable = result.isAvailable;
                                _call("/user/account#validateEmail", { email: '@Model.User.Email' })
                                    .then(function(result) {
                                        $scope.emailAvailable = result.isAvailable;
                                        $scope.doneLoading = true;
                                    }, function(error) {
                                        console.log(error);
                                    });
                            }, function(error) {
                                console.log(error);
                            });
                    });

                    $wamp.open();

                };
                    
                _init();
                    
            }]);
    </script>
}