﻿@model gzWeb.Admin.Models.UsersViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="admin admin-users">

    <article>
        <div class="container-fluid">
            <div class="admin-table">
                <div class="table-head">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="text-center">Users</h3>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 table-controls">
                            @using (Html.BeginForm("Users", "Manage", FormMethod.Get))
                            {

                                <div class="col-md-7 filters-form">
                                    <div class="row">
                                        <input type="hidden" name="page" value="1" />
                                        <input type="hidden" name="pageSize" value="20" />
                                        <div class="col-md-4 form-group date">
                                            <input type="text" class="form-control" placeholder="Search by User/First/Last Name" name="searchTerm" value="@Model.SearchTerm" />
                                        </div>

                                        <div class="col-md-2 form-group">
                                            <button type="submit" class="btn-gz">Search</button>
                                        </div>
                                    </div>
                                </div>
                            }

                            <div class="col-md-5 admin-pagination">
                                <div class="row">
                                    <nav style="@(Model.TotalPages <= 1 ? "display:none;": "")">
                                        <ul class="pagination">
                                            <li class="@(Model.CurrentPage==1 ? "disabled": "")">
                                                <a href="@(Model.CurrentPage==1 ? "#":Url.Action("Users", "Manage", new { page = Model.CurrentPage - 1, searchTerms = Model.SearchTerm }))" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                                            @for (var i = 1; i <= (int)Math.Min(Model.TotalPages, 8); i++)
                                            {
                                                <li class="@(Model.CurrentPage==i ? "active" : "")">
                                                    <a href="@Url.Action("Users", "Manage", new { page =i, searchTerms = Model.SearchTerm })" aria-label="@i">
                                                        <span aria-hidden="true">@i</span>
                                                    </a>
                                                </li>
                                            }
                                            <li class="@(Model.CurrentPage== Model.TotalPages ? "disabled": "")">
                                                <a href="@Url.Action("Users", "Manage", new { page = Model.CurrentPage + 1, searchTerms = Model.SearchTerm })" aria-label="Previous">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 table-interface">
                    <div class="row">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="col-md-2 text-center">
                                        User Name
                                    </th>
                                    <th class="col-md-2 text-center">
                                        Email
                                    </th>
                                    <th class="col-md-3 text-center">
                                        Last Name
                                    </th>
                                    <th class="col-md-3 text-center">
                                        First Name
                                    </th>
                                    <th class="col-md-1 text-center">
                                        Casino Id
                                    </th>
                                    <th class="col-md-1"></th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model.UsersEntries)
                                {
                                    <tr>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.UserName)
                                        </td>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.Email)
                                        </td>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.LastName)
                                        </td>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.FirstName)
                                        </td>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.GmCustomerId)
                                        </td>
                                        <td class="text-center">
                                            @Html.ActionLink("Details", "UserDetails", new { id = item.Id })
                                            |
                                            @Html.ActionLink("Edit", "UserEdit", new {id = item.Id})
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </article>

</div>


