﻿@using gzWeb.Admin.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}


<section id="loginForm">
    <div class="admin admin-login">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 login-interface">

                    @using (Html.BeginForm("Login", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="col-md-12 text-center">
                            <div class="row heading">
                                <h3 class="text-gz">Administration Login</h3>
                                <h4>Use a local account to log in.</h4>
                            </div>
                        </div>

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="col-md-12 bg-gz">
                            <div class="row content">
                                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                                    <div class="logo-icon text-center">
                                        <img src="/Content/Images/logo.svg">
                                    </div>
                                </div>

                                <div class="col-xs-8 col-xs-offset-2">
                                    <div class="form-group">
                                        @*@Html.LabelFor(m => m.Email, new { @class = "col-md-1 col-md-offset-1 control-label" })*@
                                        <div>
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "username/email" })
                                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                            <span class="form-control-feedback" aria-hidden="true">
                                                <i class="fa fa-lg fa-user"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @*@Html.LabelFor(m => m.Password, new { @class = "col-md-1 col-md-offset-1 control-label" })*@
                                        <div>
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control pass", @name="pass", @placeholder = "password" })
                                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                            <span class="form-control-feedback" name="pass" aria-hidden="true">
                                                <i class="fa fa-lg fa-key"></i>
                                            </span>
                                        </div>
                                    </div>
                                    @*<div class="form-group">
                                        <div>
                                            <div class="checkbox">
                                                @Html.CheckBoxFor(m => m.RememberMe)
                                                @Html.LabelFor(m => m.RememberMe)
                                            </div>
                                        </div>
                                    </div>*@
                                    <div class="form-group">
                                        <div class="text-center">
                                            <button type="submit" value="Log in" class="btn-gz">log in</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<p>
                            @Html.ActionLink("Register as a new user", "Register")
                        </p>*@
                        @* Enable this once you have account confirmation enabled for password reset functionality
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>*@
                    }

                </div>

                <div class="col-md-4">
                    <section id="socialLoginForm">
                        @*@Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel {ReturnUrl = ViewBag.ReturnUrl})*@
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts     {
    }
