﻿@model gzDAL.Models.EmailTemplate

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="admin admin-edit email-edit">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 admin-interface">

                <div class="col-md-6 @*text-center*@">
                    <div class="row heading">
                        <h2 class="text-gz">Edit</h2>
                        <h4>EmailTemplate</h4>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row heading text-right">
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                </div>

                <div class="col-md-12 bg-gz">
                    <div class="row content">
                        @using (Html.BeginForm())
                        {
                            @*<input type="hidden" name="jsonData" value="@ViewBag.JsonData"/>*@
                            
                            @Html.AntiForgeryToken()

                            <div class="col-xs-5 col-xs-offset-1">
                                <div class="row">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(model => model.Id)
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-12">
                                            @Html.LabelFor(model => model.Body, htmlAttributes: new { @class = "control-label" })
                                            <textarea class="form-control" rows="20" data-editor="html" name="Body" id="Body">@Model.Body</textarea>
                                            @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    
                                </div>
                            </div>

                            <div class="col-xs-5">
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @*@using (Html.BeginForm("Edit", "EmailTemplates", FormMethod.Get))*@
                                        @*{*@
                                        <div class="col-md-12">
                                            @*<input type="hidden" name="id" value="@Model.Id" />*@
                                            <label for="jsonData" class="control-label">Data</label>
                                            <textarea class="form-control" rows=20 data-editor="json" id="jsonData" name="jsonData">@ViewBag.JsonData</textarea>
                                        </div>
                                        @*}*@
                                    </div>                                    
                                </div>
                            </div>

                            <div class="col-xs-10 col-xs-offset-1">
                                <div class="row">
                                        <div class="col-md-6">
                                            <input type="submit" value="Save" class="btn btn-default col-xs-12" />
                                        </div>
                                        <div class="col-md-6">
                                            <input type="submit" value="Preview" class="btn btn-default col-xs-12" />
                                        </div>
                                </div>
                            </div>

                            <div class="col-xs-10 col-xs-offset-1 view-holder">
                                <h3 class="text-center view-header">Template View</h3>
                                <div class="col-xs-12 template-preview">
                                    <div class="row">
                                        @Html.Raw(ViewBag.EmailTemplate)
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section scripts{
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.3/ace.js"></script>
    <script>
        // Hook up ACE editor to all textareas with data-editor attribute
        $(function () {
            $('textarea[data-editor]').each(function () {
                var textarea = $(this);

                var mode = textarea.data('editor');

                var editDiv = $('<div>', {
                    position: 'absolute',
                    width: textarea.width(),
                    height: textarea.height(),
                    'class': textarea.attr('class')
                }).insertBefore(textarea);

                textarea.css('display', 'none');

                var editor = ace.edit(editDiv[0]);
                editor.renderer.setShowGutter(false);
                editor.getSession().setValue(textarea.val());
                editor.getSession().setMode("ace/mode/" + mode);
                // editor.setTheme("ace/theme/idle_fingers");

                // copy back to textarea on form submit...
                textarea.closest('form').submit(function () {
                    textarea.val(editor.getSession().getValue());
                })

            });
        });
    </script>
}

