﻿@model gzWeb.Admin.Models.EmailsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="admin admin-emails">

    <article>
        <div class="container-fluid">
            <div class="admin-table emails-table">
                <div class="table-head">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="text-center">Email Templates</h3>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 table-controls">
                            <div class="row">
                                @using (Html.BeginForm("Index", "EmailTemplates", FormMethod.Get))
                                {

                                    <div class="col-md-12 create-new">
                                        <p>
                                            @Html.ActionLink("Create New", "Create")
                                        </p>
                                    </div>
                                    <div class="col-md-7 filters-form">
                                        <input type="hidden" name="page" value="1" />
                                        <input type="hidden" name="pageSize" value="20" />
                                        <div class="col-md-4 form-group date">
                                            <input type="text" class="form-control" placeholder="Search by Code/Subject" name="searchTerm" value="@Model.SearchTerm" />
                                        </div>

                                        <div class="col-md-2 form-group">
                                            <button type="submit" class="btn btn-gz">Search</button>
                                        </div>
                                    </div>
                                }

                                <div class="col-md-5 admin-pagination">
                                    <nav style="@(Model.TotalPages <= 1 ? "display:none;": "")">
                                        <ul class="pagination">
                                            <li class="@(Model.CurrentPage==1 ? "disabled": "")">
                                                <a href="@(Model.CurrentPage==1 ? "#":Url.Action("Index", "EmailTemplates", new { page = Model.CurrentPage - 1, searchTerms = Model.SearchTerm }))" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                                            @for (var i = 1; i <= (int)Math.Min(Model.TotalPages, 8); i++)
                                            {
                                                <li class="@(Model.CurrentPage==i ? "active" : "")">
                                                    <a href="@Url.Action("Index", "EmailTemplates", new { page =i, searchTerms = Model.SearchTerm })" aria-label="@i">
                                                        <span aria-hidden="true">@i</span>
                                                    </a>
                                                </li>
                                            }
                                            <li class="@(Model.CurrentPage== Model.TotalPages ? "disabled": "")">
                                                <a href="@Url.Action("Index", "EmailTemplates", new { page = Model.CurrentPage + 1, searchTerms = Model.SearchTerm })" aria-label="Previous">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 table-interface">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="col-md-1 text-center">
                                        Code
                                    </th>
                                    <th class="col-md-3 text-center">
                                        Subject
                                    </th>
                                    <th class="col-md-6 text-center">
                                        Body
                                    </th>
                                    <th class="col-md-1"></th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model.EmailsEntries)
                                {
                                    <tr>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.Code)
                                        </td>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.Subject)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Body)
                                        </td>
                                        <td class="text-center">
                                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                            @Html.ActionLink("Details", "Details", new { id = item.Id })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </article>

</div>
