﻿@charset "utf-8";

.navbar.navbar-default {
	background:#27A95C;
    color:#fff;
}
.navbar-header {
    height: 70px;
    overflow: hidden !important;
}

/* #region navbar-brand */
.navbar-brand {
    padding: 7px 0;
    width: 200px;
    position: relative;
}
.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
    margin: 0;    
}
@media (max-width: 768px) {
    .navbar > .container .navbar-brand,
    .navbar > .container-fluid .navbar-brand {
        margin-left: 15px;
    }
}

.navbar-brand img {
    float: left;
}

.navbar-brand h2 {
    font-size: 18px;
    font-size: 16px;
    font-weight: 300;
	color:#fff;
	margin:20px 0 0 15px;
    float: left;
}
.navbar-brand .version {
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    color: #c22;
    width: 40px;
    right: -20px;
    bottom: -12px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, .75);
}
/* #endregion */

/* #region cl-effect */
.cl-effect a {
    position: relative;
}
.cl-effect a::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    margin-top: 0;
    background-color: #fff;
    opacity: 0;
    content: '';
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    -o-transition: opacity 0.3s, transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(15px);
    -moz-transform: translateY(15px);
    -ms-transform: translateY(15px);
    -o-transform: translateY(15px);
    transform: translateY(15px);
}

.cl-effect a.focus::after,
.cl-effect a:hover::after,
.cl-effect a:focus::after,
.cl-effect a:active::after {
    opacity: 1;
	-webkit-transform: translateY(5px);
	-moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
    transform: translateY(5px);
}
/* #endregion */

/* #region navbar-nav */
.navbar-default .navbar-nav {
    margin-top: 10px;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
    text-transform: uppercase;
    padding: 15px 0 0;
    margin: 0 15px;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li > a:hover {
    color: #fff;
}
@media (min-width: 768px) and (max-width: 1199px) {
    .navbar-default .navbar-nav > li > a {
        padding: 0;
        margin: 15px;
    }
}
/* #endregion */

/* #region navbar-collapse */
.navbar-collapse {
    overflow: hidden !important;
}
@media (min-width: 768px) and (max-width: 1199px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
}
/* #endregion */

/* #region navbar-toggle */
.navbar-default .navbar-toggle {
    border-color: #fff;
    margin-top: 17px;
    margin-bottom: 17px;
    width: 38px;
    position: absolute;
    right: 0;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:active,
.navbar-default .navbar-toggle:hover {
    background-color: #fff;
}


.navbar-default .navbar-toggle .icon-bar{
    background-color: #fff;
    width: 22px;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.navbar-default .navbar-toggle.collapsed .icon-bar{
    background-color: #fff;
    width: 16px;
}

.navbar-default .navbar-toggle:focus .icon-bar,
.navbar-default .navbar-toggle:active .icon-bar,
.navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #27A95C;
}

.navbar-toggle .icon-top-bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);

    -webkit-transform-origin: 10% 10%;
    -moz-transform-origin: 10% 10%;
    -ms-transform-origin: 10% 10%;
    -o-transform-origin: 10% 10%;
    transform-origin: 10% 10%;
}

.navbar-toggle .icon-middle-bar {
    opacity: 0;
}

.navbar-toggle .icon-bottom-bar {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);

    -webkit-transform-origin: 10% 90%;
    -moz-transform-origin: 10% 90%;
    -ms-transform-origin: 10% 90%;
    -o-transform-origin: 10% 90%;
    transform-origin: 10% 90%;
}

.navbar-toggle.collapsed .icon-top-bar {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
}

.navbar-toggle.collapsed .icon-middle-bar {
    opacity: 1;
}

.navbar-toggle.collapsed .icon-bottom-bar {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
}
/* #endregion */