﻿@model gzDAL.Models.LogEntry

<div class="log-entry-modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title text-center" id="myModalLabel">Entry ID <b>#@Model.Id @Model.Application</b> at <b>@Model.Logged</b> - <b>@Model.Level</b></h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <ul>
                    <li class="col-md-12">
                        <span class="col-md-2"><b>Message: </b></span>
                        <span class="col-md-10">@Model.Message</span>
                    </li>
                    <li class="col-md-12">
                        <span class="col-md-2"><b>UserName: </b></span>
                        <span class="col-md-10">@Model.UserName</span>
                    </li>
                    <li class="col-md-12">
                        <span class="col-md-2"><b>ServerName: </b></span>
                        <span class="col-md-10">@Model.ServerName</span>
                    </li>
                    <li class="col-md-12">
                        <span class="col-md-2"><b>Port: </b></span>
                        <span class="col-md-10">@Model.Port</span>
                    </li>
                    <li class="col-md-12">
                        <span class="col-md-2"><b>Url: </b></span>
                        <span class="col-md-10">@Model.Url</span>
                    </li>
                    <li class="col-md-12">
                        <span class="col-md-2"><b>Https: </b></span>
                        <span class="col-md-10">@Model.Https</span>
                    </li>
                    <li class="col-md-12">
                        <span class="col-md-2"><b>ServerAddress: </b></span>
                        <span class="col-md-10">@Model.ServerAddress</span>
                    </li>
                    <li class="col-md-12">
                        <span class="col-md-2"><b>RemoteAddress: </b></span>
                        <span class="col-md-10">@Model.RemoteAddress</span>
                    </li>
                    <li class="col-md-12">
                        <span class="col-md-2"><b>Logger: </b></span>
                        <span class="col-md-10">@Model.Logger</span>
                    </li>
                    <li class="col-md-12">
                        <span class="col-md-2"><b>CallSite: </b></span>
                        <span class="col-md-10">@Model.CallSite</span>
                    </li>
                    <li class="col-md-12">
                        <span class="col-md-2"><b>Exception: </b></span>
                        <span class="col-md-10">@Model.Exception</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    @*<div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>*@
</div>

