﻿@model gzWeb.Admin.Models.LogViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="admin admin-logs">

    <article>
        <div class="container-fluid">
            <div class="admin-table">
                <div class="table-head">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="text-center">Logs History</h3>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 table-controls">
                            <div class="row">
                                @using (Html.BeginForm("Index", "Logs", FormMethod.Get))
                                {
                                    <div class="col-md-7 filters-form">
                                        <input type="hidden" name="page" value="1" />
                                        <input type="hidden" name="pageSize" value="20" />
                                        <div class="col-md-2 form-group date">
                                            <input type="date" class="form-control" placeholder="From Date" name="fromDate" value="@Model.FromDate.ToString("yyyy-MM-dd")" />
                                        </div>
                                        <div class="col-md-2 form-group date">
                                            <input type="date" class="form-control" placeholder="To Date" name="toDate" value="@Model.ToDate.ToString("yyyy-MM-dd")" />
                                        </div>
                                        <div class="col-md-2 form-group">
                                            <select name="logLevel" class="form-control">
                                                <option value="" @(String.IsNullOrEmpty(Model.LogLevel) ? "selected" : "")>All</option>
                                                <option value="Debug" @(Model.LogLevel == "Debug" ? "selected" : "")>Debug</option>
                                                <option value="Error" @(Model.LogLevel == "Error" ? "selected" : "")>Error</option>
                                                <option value="Fatal" @(Model.LogLevel == "Fatal" ? "selected" : "")>Fatal</option>
                                                <option value="Info" @(Model.LogLevel == "Info" ? "selected" : "")>Info</option>
                                                <option value="Trace" @(Model.LogLevel == "Trace" ? "selected" : "")>Trace</option>
                                                <option value="Warn" @(Model.LogLevel == "Warn" ? "selected" : "")>Warn</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2 form-group">
                                            <input type="text" class="form-control" placeholder="user" name="userSearchText" value="@Model.UserSearchText" />
                                        </div>
                                        <div class="col-md-2 form-group">
                                            <button type="submit" class="btn-gz">Filter</button>
                                        </div>
                                    </div>
                                }

                                <div class="col-md-5 admin-pagination">
                                    <nav style="@(Model.TotalPages <= 1 ? "display:none;": "")">
                                        <ul class="pagination">
                                            <li class="@(Model.CurrentPage==1 ? "disabled": "")">
                                                <a href="@(Model.CurrentPage==1 ? "#":Url.Action("Index", "Logs", new { page = Model.CurrentPage - 1, logLevel = Model.LogLevel,  fromDate = Model.FromDate, toDate = Model.ToDate }))" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                                            @for (var i = 1; i <= (int)Math.Min(Model.TotalPages, 6); i++)
                                            {
                                                <li class="@(Model.CurrentPage==i ? "active" : "")">
                                                    <a href="@Url.Action("Index", "Logs", new { page =i, logLevel = Model.LogLevel,  fromDate = Model.FromDate, toDate = Model.ToDate, userSearchText=Model.UserSearchText })" aria-label="@i">
                                                        <span aria-hidden="true">@i</span>
                                                    </a>
                                                </li>
                                            }
                                            <li class="@(Model.CurrentPage== Model.TotalPages ? "disabled": "")">
                                                <a href="@Url.Action("Index", "Logs", new { page = Model.CurrentPage + 1, logLevel = Model.LogLevel,  fromDate = Model.FromDate, toDate = Model.ToDate, userSearchText=Model.UserSearchText })" aria-label="Previous">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 table-interface">
                        <table class="table table-bordered">
                            <thead class="text-center">
                                <tr>
                                    <th class="col-md-1 text-center">Source</th>
                                    <th class="col-md-2 text-center">Date</th>
                                    <th class="col-md-1 text-center">Level</th>
                                    <th class="col-md-6 text-center">Message</th>
                                    <th class="col-md-2 text-center">User Name</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var entry in Model.LogEntries)
                                {
                                    <tr class="@entry.Level">
                                        <td class="text-center">@entry.Source</td>
                                        <td class="text-center">@entry.Logged</td>
                                        <td class="text-center">@entry.Level</td>
                                        <td class="">
                                            @{
                                                if (entry.Message.Length > 100)
                                                {
                                                    @(entry.Message.Substring(0, 50) + " ... " + entry.Message.Substring(entry.Message.Length - 50, 50))
                                                }
                                                else { @entry.Message }
                                            }
                                        </td>
                                        <td class="text-center">@entry.UserName</td>
                                        <td>
                                            <button type="button" class="btn-gz view-entry-btn" data-id="@entry.Id">Show Details</button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <div class="modal fade" id="view-entry" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content" id="view-entry-container">

            </div>
        </div>
    </div>

</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.view-entry-btn').click(function () {
                var url = "@Url.Action("GetEntry","Logs")"; // the url to the controller
                var id = $(this).attr('data-id'); // the id that's given to each button in the list
                $.get(url + '/' + id, function (data) {
                    $('#view-entry-container').html(data);
                    $('#view-entry').modal('show');
                });
            });
        });
    </script>
}